article{
    background-color: var(--color-backgroundGrey);
}

.slideImages{
    width:100%;
}
.slick-track{
    height:400px;
}

.slick-arrow{
    display: none !important;
}

.slick-slide{
    display: flex !important;
    align-items: center !important;
}

.slick-slide div{
    display: flex;
    justify-content: center;
    
}
.slick-slide div div{
    width: 80% !important;
    transition: all 0.3s ease-in;
}
.slick-center div div{
    width: 100% !important;
}
section{
    display: flex;
    margin:48px auto;
    padding: 24px;
    align-items: center;
    max-width: 1140px;
}
.about{
    width:100%;
}
.bigLogo{
    margin-left:60px;
}
.bigLogo img{
    width:100%;
}

.topic {
    height: 300px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
    border-radius: 25px !important;
    transition-duration: 1s;
    padding: 0 !important;
    overflow: hidden;
    margin: 15px 0;
}

.topicCont {
    margin: 25px 0;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
}

.topic:hover {
    background-position: center;
    background-size: 180%;
    transition-duration: 1s ease;
}

.topic_name {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    text-align: center;
    border-bottom: 2px solid black;
    border-radius: 1em 1em 0 0;
    color: rgba(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.7);
}

.topic:hover .topic_name {
    background-color: rgba(0, 0, 0, 0.9);
}

.topic_desc_bg {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 0;
    border-radius: 0;
    transition-duration: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topic_desc_bg div {
    margin: 3px 0;
    font-size: 1.1rem;
}

.topic_desc {
    color: white;
    opacity: 0;
    margin: 0;
}

#topic_desc_1 {
    transition-duration: 0.2s;
    transition-delay: 0.4s;
}

#topic_desc_2 {
    transition-duration: 0.4s;
    transition-delay: 0.3s;
}

#topic_desc_3 {
    transition-duration: 0.6s;
    transition-delay: 0.2s;
}

#topic_desc_4 {
    transition-duration: 0.8s;
    transition-delay: 0.1s;
}

#topic_desc_5 {
    transition-duration: 1s;
    transition-delay: 0s;
}

.topic:hover #topic_desc_1 {
    transition-duration: linear;
    transition-delay: 0s;
    opacity: 1;
    transform: scale(1.08);
}

.topic:hover #topic_desc_2 {
    transition-duration: linear;
    transition-delay: 0.25s;
    opacity: 1;
    transform: scale(1.08);
}

.topic:hover #topic_desc_3 {
    transition-duration: linear;
    transition-delay: 0.5s;
    opacity: 1;
    transform: scale(1.08);
}

.topic:hover #topic_desc_4 {
    transition-duration: linear;
    transition-delay: 0.75s;
    opacity: 1;
    transform: scale(1.08);
}

.topic:hover #topic_desc_5 {
    transition-duration: linear;
    transition-delay: 1s;
    opacity: 1;
    transform: scale(1.08);
}

.topic:hover>.topic_desc_bg {
    transition-duration: 1s ease;
    height: 265px;
    border-radius: 0 0 1em 1em;
}

.buttonTop {
    position: relative;
    top: 20px;
    padding: 3px 20px;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0.75em;
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 1px;
    color: black;
    border: 2px groove rgba(0, 0, 0, 0, 5);
}

.buttonTop:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.buttonTop:active {
    border: 0px;
}

.progressContainer{
    flex-direction: column;
    align-items: stretch;
}

.progressAnimation{
    display:flex;
}
.progressAnimation h3{
    color:var(--color-textGrey);
}

.aniItemRight, .aniItemLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 11%;
    margin:0 3%;
    text-align: center;
}
.aniItemLeft {
    flex-direction: column-reverse;  
}


.aniItemIcon{
    height: 50px;
    color: red;
    border: 10px solid red;
    padding:24px;
    border-radius: 50%;
}
.faEllipsisVertical{
    height: 50px;
    transform: rotateY(75deg);
    margin:10px;
    color:var(--color-textGrey);
}

@media (max-width:1200px){
    
    .topicCont {
        grid-template-columns: 45% 45%;
    }
    .section{
        width: 100%;
    }
    
}
@media (max-width:960px) {

    .progressAnimation {
            flex-direction: column;
        }
.aniItemRight,
.aniItemLeft {
    
    flex-direction: row;
    justify-content: center;
    margin: 1rem 0;
    width:auto;
    
}
.aniItemRight{
margin-left: 10%;
}
.aniItemLeft {
    flex-direction: row-reverse;
   margin-right:10%;
}
.faEllipsisVertical {
    
    transform: rotate(90deg) scaleX(0.3); 
    padding:0 1rem;
}
}